// Colors @c
@cBaseOne: #FAFAFA;
@cBaseTwo: #EBEEF2;
@cBaseThree: #022E40;
@cBaseFour: #D94E67;
@cBaseFive: #8C2B3D;
@backgroundMainContainer: #f9f9f9;
@createButton: #7c7c7c;
@createButtonHover: #707070;
@mainContainerBorder: #ccc;
@pieceBorder: #b3b2b2;

// Sizes @size
@sizeBorderDefault: 1px;
@sizeBorderMainContainer: 2px;

@ffOne: "Jost", sans-serif;
@ffTwo: "Brygada 1918", sans-serif;
@mainFontCourierNew: "Courier New", monospace;
